<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>
		Sign-Up
	</title>
	<link id="pagestyle" rel="stylesheet" th:href="@{CSS/material-dashboard.css}">

</head>

<body class="boodiesREG">
<div class="container position-sticky z-index-sticky top-0">
	<div class="row">
		<div class="col-12">

		</div>
	</div>
</div>
<main class="main-content  mt-0">
	<section>
		<div class="page-header min-vh-100">
			<div class="container">
				<div class="row">
					<div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
						<div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('/assets/img/illustrations/illustration-signup.jpg'); background-size: cover;">
						</div>
					</div>
					<div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
						<div class="card card-plain">
							<div class="card-header">
								<h4 class="font-weight-bolder text-center">Sign Up</h4>
							</div>
							<div class="card-body">
								<form th:action="@{/register/save}" th:object="${newAccount}" method="POST">
									<h6 class="font-weight-bolder ">Account details</h6>
									<div class="input-group input-group-outline mb-3">
										<input type="text" class="form-control" placeholder="Username" id="username" name="username" required="required" th:field="${newAccount.userName}">
									</div>
									<div class="input-group input-group-outline mb-3">
										<input type="password" placeholder="Password" class="form-control" id="password" name="password" required="required" th:field="${newAccount.password}">
									</div>
									<h6 class="font-weight-bolder ">Contact details</h6>

									<div class="input-group input-group-outline mb-3">
										<input type="email" placeholder="Email" class="form-control" id="email" name="email" required="required" th:field="${newAccount.email}">
									</div>
									<div class="input-group input-group-outline mb-3">
										<input type="text" class="form-control"  placeholder="First Name" id="firstName" name="firstName" required="required" th:field="${newAccount.firstName}">
									</div>
									<div class="input-group input-group-outline mb-3">
										<input type="text" class="form-control" placeholder="Last Name" id="lastName" name="lastName" required="required" th:field="${newAccount.lastName}">
									</div>
									<div class="input-group input-group-outline mb-3">
										<input type="text"  placeholder="Adress" class="form-control" id="address" name="address" required="required" th:field="${newAccount.address}">
									</div>
									<div class="input-group input-group-outline mb-3">
										<input type="text" class="form-control" placeholder="City" id="city" name="city" required="required" th:field="${newAccount.city}">
									</div>
									<div class="input-group input-group-outline mb-3">
										<input type="tel" class="form-control" placeholder="Phone Number" pattern="[0-9]{8}" id="phoneNumber" name="phoneNumber" required="required" th:field="${newAccount.phoneNumber}">
									</div>

									<div class="text-center">
										<button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign Up</button>
									</div>
								</form>
							</div>
							<div class="card-footer text-center pt-0 px-lg-2 px-1">
								<p class="mb-2 text-sm mx-auto">
									Already have an account?
									<a href="login" class="text-primary text-gradient font-weight-bold">Sign in</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>


</body>

</html>