<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Your Reservations</title>

<link rel="stylesheet" type="text/css" th:href="@{/CSS/material-dashboard.css}">
</head>
<body>
	<ul th:replace="page-layout :: userNavBar"></ul>

	<div class="main-content position-relative max-height-vh-100 h-100">
		<div class="container-fluid px-2 px-md-4">
			<div class="page-header min-height-300 border-radius-xl mt-4"
				 style="background-image:
			 url('https://images.unsplash.com/photo-1602722053020-af31042989d5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
				<span class="mask  bg-gradient-info  opacity-6"></span>
			</div>

			<br><br><br><br><br>

			<div class="row">
				<div class="card card-body mx-3 mx-md-4 mt-n6">
					<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
						<div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
							<h3 class="text-white text-capitalize ps-3">My Reservations</h3>
						</div>
					</div>
					<br><br>
					<div class="row gx-4 mb-2 ms-4">

						<div class="col-auto my-auto">
							<div class="h-100" >

								<div th:if="${reservedBooks.size() == 0}">
									<h5 class="mb-1" style="color: #0d6efd" >You don't have any book reservations</h5>
								</div>
								<div class="" th:width="1200">
								<table  class="table align-items-center  " th:if="${reservedBooks.size() > 0}" id="tablestyle">
									<thead>
									<tr>

										<th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2" >Title</th>

										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder " >Author</th>

										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Release Year</th>

										<th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2">Edition</th>

										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Reserved From</th>

										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Reserved Until</th>
									</tr>
									</thead>

									<tr th:each="book : ${reservedBooks}">
										<td>
											<p class="text-xs font-weight-bold mb-0 ms-0 opacity-7" th:text="${book.title}"></p>
										</td>
										<td>
											<p class="text-xs font-weight-bold mb-0 ms-4 opacity-7"  th:text="${book.author}"></p>
										</td>
										<td>
											<p class="text-xs font-weight-bold mb-0 ms-4 opacity-7"  th:text="${book.releaseYear}"></p>
										</td>
										<td>
											<p class="text-xs font-weight-bold mb-0 ms-4 opacity-7" th:text="${book.edition}"></p>
										</td>
										<td>
											<p class="text-xs font-weight-bold mb-0 ms-4  opacity-7" th:text="${book.startReservationDate}"></p>
										</td>
										<td>
											<p class="text-xs font-weight-bold mb-0 ms-4  opacity-7" th:text="${book.endReservationDate}"></p>
										</td>

									</tr>
								</table>
							</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


</body>
</html>