<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<link rel="icon" type="image/png" href="/Images/libIcon.png" sizes="16x16">

	<title>Users</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/material-dashboard.css}">
</head>

<body>
	<ul th:replace="page-layout :: employeeNavBar"></ul>

	<div class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
		<div class="container-fluid px-2 px-md-4">
			<div class="page-header min-height-300 border-radius-xl mt-4"
				 style="background-image:
			 url('https://images.unsplash.com/photo-1602722053020-af31042989d5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
				<span class="mask  bg-gradient-info  opacity-6"></span>
			</div>

			<br><br><br><br><br>
			<div class="row">
				<div class="col-12">
					<div class="card my-4">
						<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
								<h6 class="text-white text-capitalize ps-3">Users</h6>
							</div>
						</div>

						<div class="card-body px-0 pb-2">
							<!-- Search User --><br>
							<form th:action="@{/employee/users/showusers}" method="GET">

								<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " style="position: absolute;"  id="navbarBlur" data-scroll="true">
									<div class="container-fluid py-1 px-3">
										<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4">
											<div class="ms-md-auto pe-md-3 d-flex align-items-center">
												<div class="input-group input-group-outline">
													<input type="text" placeholder="First Name" id="firstName" name="firstName" th:value="${firstName}" class="form-control">
												</div>
												&nbsp;&nbsp;&nbsp;&nbsp;
												<div class="input-group input-group-outline">
													<input type="text" id="lastName" name="lastName" th:value="${lastName}" placeholder="Last Name" class="form-control">
												</div>
											</div>
											<input type="submit" value="Search" class="btn btn-outline-primary btn-sm mb-0 me-3" >
										</div>
									</div>
								</nav>
							</form><br><br><br><br>
							<!-- End Search User -->
							<div class="row">

							</div>
							<div class="table-responsive  p-0">
								<table th:if="${usersWithFines.size > 0}"  class="table  text-center mb-0">
									<thead>
									<tr>

										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">First Name</th>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Last Name</th>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone Number</th>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fine</th>
										<th class="text-secondary opacity-7"></th>
									</tr>
									</thead>
									<tbody>
									<tr  th:each="user : ${usersWithFines}">
										<td>
											<div class="d-flex px-2 py-1">
												<span th:if="${user.key.role.equals('ROLE_ADMIN')}" >
													<img src="/Images/me.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="Admin">
												</span>
												<span th:if="${user.key.role.equals('ROLE_EMPLOYEE')}">
													<img src="/Images/employee.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="Employee">
												</span>
												<span th:if="${user.key.role.equals('ROLE_USER')}">
													<img src="/Images/ivana-square.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user">
												</span>

											</div>
										</td>

										<td class="align-middle text-center">
											<span class="text-secondary text-xs font-weight-bold" th:text="${user.key.firstName}" ></span>
										</td>
										<td class="align-middle text-center">
											<span class="text-secondary text-xs font-weight-bold" th:text="${user.key.lastName}" ></span>
										</td>
										<td class="align-middle text-center">
											<span class="text-secondary text-xs font-weight-bold" th:text="${user.key.email}"></span>
										</td>
										<td class="align-middle text-center">
											<span class="text-secondary text-xs font-weight-bold" th:text="${user.key.phoneNumber}"></span>
										</td>
										<td class="align-middle text-center">

											<span th:if="${user.value > 0}" th:text="${ user.value +' DT'}" class="text-primary text-xs font-weight-bold"></span>
											<span th:if="${user.value ==  0}" th:text="${user.value +' DT'}" class="text-secondary text-xs font-weight-bold"></span>
										</td>

										<td class="align-middle">
											<form th:action="@{/employee/users/showuserinfo}" method="GET">
												<input type="submit" value="Show user info" class="btn bg-gradient-info w-60 my-2 mb-2 ">
												<input type="hidden" th:value="${user.key.userId}" name="userId">
												<input type="hidden" th:value="${user.value}" name="fine">
											</form>

										</td>
									</tr>

									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>


		</div>
	</div>


</body>
</html>